body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(135deg, rgba(244, 244, 244, 0.6), rgba(232, 232, 232, 0.6)), 
                url('https://img.freepik.com/free-vector/gradient-international-day-education-background_23-2151120687.jpg') 
                no-repeat center center fixed;
    background-size: cover;
    color: #333;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#backgroundCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.container {
    position: relative;
    z-index: 2;
    max-width: 600px;
    width: 90%; /* Adjusts the width to be responsive */
    margin: 50px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    animation: slideUp 0.5s ease-out forwards;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    input[type="number"], input[type="checkbox"] {
        width: 100%; /* Ensures inputs use the full width on smaller screens */
        margin-top: 5px; /* Adds a little space between label and input */
        margin-left: 0; /* Resets margin to ensure full-width usage */
    }

    .form-group label {
        width: 100%; /* Ensures labels use the full width on smaller screens */
    }

    input[type="checkbox"] {
        align-self: center; /* Centers the checkbox under its label on mobile */
    }
}

button {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    background-color: #2688ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1500fb;
}

footer {
    text-align: center;
    padding: 10px 0;
    color: #FFF;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    animation: fadeInFooter 1.5s ease-in 0.5s forwards;
}

@keyframes fadeInFooter {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

